# Ignore everything
*

# Allow only the built HTML files
!.gitignore
!*.html
!*.css
!*.js
!*.png
!*.jpg
!*.gif
!*.svg
!*.ico
!*.woff
!*.woff2
!*.ttf
!*.eot
!*.otf
!*.json
!*.xml
!*.txt
!CNAME
!_static/
!_static/**
!_modules/
!_sources/
!.nojekyll